body {
  padding-bottom: 10px;
  background-image: linear-gradient(rgb(47, 47, 47),rgb(43, 43, 43),rgb(27, 27, 27));
  /*background-image: linear-gradient(rgb(34, 40, 49),rgb(0, 20, 36),rgb(0, 8, 19));*/
  background-repeat: repeat;
}
p {
  margin: 0;
  font-family: roboto;
}
