.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  padding-left: 24px;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: row;
  z-index: 100;
}
input:focus{
  outline: none;
}
.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 169px;
}
.menu {
  height: 24px;
  margin-right: 24px;
  padding: 4px 4px;
  border-radius: 50px;
  transition: 250ms;
}
.menu:active{
  background-color: rgba(0, 0, 0, 0.212);
}
.ytb-logo {
  height: 22px;
}
.middle-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.middle-search-bar {
  flex: 1;
  height: 36px;
  width: 0;
  max-width: 400px;
  margin-left: 65px;
  border: 1px solid lightgrey;
  border-radius: 2px 0 0 2px;
  font-size: 15px;
  font-family:roboto;
}
.middle-search-bar::placeholder {
  padding-left: 5px;
  font-size: 15px;
  font-family: roboto;
}
.search-button {
  border-radius: 0 2px 2px 0;
  border: 1px solid lightgrey;
  background-color: rgb(59, 59, 59);
  margin-left: -1px;
  transition: 250ms;
}
.search-button:active{
  background-color: rgb(34, 34, 34);
}
.search-icon {
  height: 32px;
  padding: 1px 10px 0px 10px;
}
.voice-search-button {
  background-color: rgb(59, 59, 59);
  border: none;
  margin-left: 10px;
  border-radius: 20px;
  transition: 250ms;
}
.voice-search-button:active{
  background-color: rgb(34, 34, 34);
}
.voice-search-icon {
  height: 28px;
  padding: 3.5px 0 3.5px 0;
}
.right-section {
  justify-content: end;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 225px;
  margin: 0 20px 0 0px;
  flex-shrink: 0;
}
.ytb-apps-icon {
  height: 30px;
  margin-right: 20px;
  margin-top: 5px;
  padding: 2px 2px;
  border-radius: 50px;
  transition: 250ms;
}
.ytb-apps-icon-div:active .ytb-apps-icon{
  background-color: rgba(0, 0, 0, 0.212);
}
.vdot-icon {
  height: 26px;
  margin-right: 15px;
  margin-top: 5px;
  border-radius: 50px;
  transition: 250ms;
}
.vdot-icon-div:active .vdot-icon{
  background-color: rgba(0, 0, 0, 0.212);
}
.sign-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(0, 195, 255);
  border-radius: 2px;
  cursor: pointer;
  transition: 250ms;
}
.sign-block:active{
  background-color: rgb(56, 56, 56);
}
.user-icon {
  height: 33px;
  padding: 2px 5px 3px 5px;
}
.sign {
  font-family: roboto;
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 195, 255);
  padding: 0 10px 0 0;
}
/*hover tags for icon on header*/
.ytb-apps-icon-div,
.vdot-icon-div,
.search-icon-div,
.voice-search-icon-div{
  position: relative;
  cursor: pointer;
}
.ytb-apps-icon-tips,
.vdot-icon-tips,
.search-icon-tips,
.voice-search-icon-tips{
  position: absolute;
  bottom: -35px;
  white-space: nowrap;
  font-family: roboto;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 5px;
  border-radius: 2px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: 150ms;
  pointer-events: none;
}
.ytb-apps-icon-tips{
  bottom: -33px;
  left: -23px;
}
.vdot-icon-tips{
  bottom: -35px;
  left: -10px;
}
.search-icon-tips{
  bottom: -34px;
  left: 4px;
}
.voice-search-icon-tips{
  bottom: -33px;
  left: -45px;
}
.ytb-apps-icon-div:hover .ytb-apps-icon-tips,
.vdot-icon-div:hover .vdot-icon-tips,
.search-icon-div:hover .search-icon-tips,
.voice-search-icon-div:hover .voice-search-icon-tips{
  opacity: 1;
}